<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700&amp;subset=cyrillic" rel="stylesheet">
<button (click)="reset()">Reset</button>
<div class="userblock">
  <h4>Ваши данные:</h4>
  <!-- Status 1-1 -->
  <div *ngIf="user_data_status === 'opened' || user_data_status === 'closed'|| user_data_status === 'saved_animate'">
    <form (animationend)="animationEnd()" class="animated" [ngClass]="{zoomOutLeft:user_data_status === 'saved_animate'}"
          #userDataForm="ngForm" (submit)="$event.preventDefault();saveUserData(userDataForm)">
      <div (keyup)="onKeyUp($event)" class="input-dotted-overflow">
        <input (focus)="user_data_status='opened'" placeholder="Иванов" type="text">
        <input (focus)="user_data_status='opened'" placeholder="Иван" type="text">
        <input (focus)="user_data_status='opened'" placeholder="Иванович" type="text">
      </div>
      <!-- Status 1-2 -->
      <div *ngIf="user_data_status === 'opened' || user_data_status === 'saved_animate'">
        <div class="animated bounceIn">
          <h4>Резидентство:</h4>
          <div class="radio">
            <input class="hidden-xs-up"  type="radio" name="resident" id="resident-rf">
            <label for="resident-rf" class="radio-label">Резидент РФ</label>
          </div>
          <div class="radio">
            <input class="hidden-xs-up"  type="radio" name="resident" id="other">
            <label for="other" class="radio-label">Иное</label>
          </div>
          <h4>Контактная информация:</h4>
          <input placeholder="Электронная почта" type="text">
          <input placeholder="Пароль" type="text">
          <button placeholder="Редактировать">Изменить</button>
          <br>
          <input placeholder="Номер телефона" type="tel">
          <button title="Добавить">Добавить</button>
        </div>
        <div class="agree-and-go animated bounceInLeft">
          <div>
            <input class="hidden-xs-up" id="cbx" type="checkbox">
            <label class="cbx" for="cbx"></label>
            <label class="lbl" for="cbx"> Я согласен и принимаю <a href="#">условия договора</a></label>
          </div>
          <button type="submit">Сохранить</button>
        </div>
      </div>
      <!-- END Status 1-2 -->
    </form>
  </div>
  <!-- END Status 1-1 -->

  <!-- Status 1-3 -->
  <div *ngIf="user_data_status === 'saved'">
    <!--<h4>Ваши данные:</h4>-->
    <h2>Иванов Иван Иванович <span class="user-id">(ID:<b>486672</b>)</span></h2>
    <p>Резидентство: <span class="res-id bold">Резидент РФ</span></p>
    <p>Номер телефона: <span class="user-phone bold">8 923 623 7634</span></p>
    <p>Электронная почта: <span class="user-mail bold">ivanov@testmail.com</span></p>
  </div>
  <!-- END Status 1-3 -->
</div>
<div class="corporate-block">
  <div class="11">

  </div>
  <div class="12">

  </div>
  <div class="13">

  </div>
</div>

<!--<button class="btn btn-primary">Test Button</button>-->
