<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700&amp;subset=cyrillic" rel="stylesheet">
<div class="userblock">
  <div class="11">
    <h4>Ваши данные:</h4>
    <input placeholder="Иванов Иван Иванович">
  </div>
  <hr>
  <div class="12 block">
    <h4>Ваши данные:</h4>
    <div class="all_input">
      <input placeholder="Иванов">
      <input placeholder="Иван">
      <input placeholder="Иванович">
    </div>
    <h4>Резидентство:</h4>
    <input type="radio"> Резидент РФ<br>
    <input type="radio"> Иное<br>
    <h4>Контактная информация:</h4>
    <input placeholder="Электронная почта">
    <input placeholder="Пароль">
    <button placeholder="Редактировать">Изменить</button>
    <br>
    <input placeholder="Номер телефона">
    <button title="Добавить">Добавить</button>
    <div class="agree-and-go">
      <input type="checkbox"> Я согласен и принимаю <a href="#">условия договора</a> <br>
      <button>Сохранить</button>
    </div>
  </div>
  <hr>
  <div class="13">
    <h4>Ваши данные:</h4>
    <h2>Иванов Иван Иванович <span class="user-id">(ID:<b>486672</b>)</span></h2>
    <p>Резидентство: <span class="res-id bold">Резидент РФ</span></p>
    <p>Номер телефона: <span class="user-phone bold">8 923 623 7634</span></p>
    <p>Электронная почта: <span class="user-mail bold">ivanov@testmail.com</span></p>
  </div>
</div>
<div class="corporate-block">
  <div class="11">

  </div>
  <div class="12">

  </div>
  <div class="13">

  </div>
</div>

<button class="btn btn-primary">Test Button</button>
