@import 'assets/_fonts'
@import 'assets/_test-reset'
@import "assets/animate"
div
  -webkit-transition: all 700ms ease-in
  -moz-transition: all 700ms ease-in
  -ms-transition: all 700ms ease-in
  -o-transition: all 700ms ease-in
  transition: all 700ms ease-in

.input-block
  border: 1px solid #a9a9a9
  display: inline-block
  +margin-bottom-15
  input[type=text]
    border: none
    outline: none
    +margin-0


.block
  +inline-block
  div &input