@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700&amp;subset=cyrillic" rel="stylesheet"')

$caption-font: 'Oswald', sans-serif


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
  font-family: 'Oswald', sans-serif
  font-weight: 500
